# Project:1 (Exploratory Data Analysis Using Matplotlib & Seaborn)

### Submitted by :

* Yuxiao Shen (yshen3@mail.yu.edu)
* Muhammad Bilal Jamil (mjamil@mail.yu.edu)

### Submitted to : Prof. Topor

### Index:

#### 1. Introduction
#### 2. Data Summary
#### 3. Exploratory Data Analysis (EDA) 
#### 4. Inference
#### 5. Conclusion
#### 6. References

### 1. Introduction:

For our project, We will use a *COVID-19* dataset which was collected by ***European Centre for Disease Prevention and Control (ECDC)***. The dataset contains a total of 61,900 rows and 12 columns. The division of dataype is as follows:
> 1. Total of 8 categorical datatype.
> 2. Total of 4 numeric datatype.

ECDC is an agency of European Union (EU) whose mission is to strengthen Europe's defences against infectious diseases.It covers a wide spectrum of activities, such as: surveillance, epidemic intelligence, response, scientific advice, microbiology, preparedness, public health training, international relations, health communication, and the scientific journal Eurosurveillance. The Centre was established in 2004 and is headquartered in Solna, Sweden.

This dataset basically stored country and continent wise daily information on COVID data i.e. 'cases and deaths'. It also showed population of all these countries for year 2019. The data collected was started on 31st December, 2019 and ended on 14th December, 2020. This data can be very helpful to generate insights for a specific country or continent, on how many cases were there and how many deaths were there. 

For our research question, we as a team wanted to analyze the trends of COVID-19 between United States of America, Pakistan and China. Generate insights which country had most cases/deaths till April 2020. We wanted to do this so that it can help policy makers of these countries to come up with better strategies to face any type of Pandemic in future like COVID especially in the initial months. We will analyze the data from January 2020 to April 2020. 


> ##### Steps required to answer the question above:-
> 1. Find overall count of cases and deaths for United States of America from January 2020 to April 2020.
> 2. Find overall count of cases and deaths for Pakistan from January 2020 to April 2020.
> 3. Find overall count of cases and deaths for China from January 2020 to April 2020.
> 4. Visualize the data, generate percentage difference and fatality rates.

### 2. Data Summary:

The dataset was acquired from the official website of ECDE:
https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide

Before we do any detailed analysis and visualize our data, it is very important to first understand the data and what it means. We will try to accomplish this by importing the relevant libraries and our dataset. We will also view the head and the tail of the dataset as well as read the dataset's description and information. This will be a very crucial step which will help us to come with a defined strategy to answer our research question and what steps should be taken to successfully accomplish our goal.

In [3]:
# Importing python libraries pandas, numpy, seaborn and matplotlib for our project.
# We are also reading the dataset directly from GitHub where we uploaded the data:

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
covid_dataset = 'https://raw.githubusercontent.com/mbjamil92/DAV-5400/main/datasets/data.csv'
cd = pd.read_csv(covid_dataset)

# Dataset is now stored in the pandas dataframe.

* Head of our data frame:

In [4]:
#We will check the head of our dataset:

cd.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,14/12/2020,14,12,2020,746,6,Afghanistan,AF,AFG,38041757.0,Asia,9.013779
1,13/12/2020,13,12,2020,298,9,Afghanistan,AF,AFG,38041757.0,Asia,7.052776
2,12/12/2020,12,12,2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.868768
3,11/12/2020,11,12,2020,63,10,Afghanistan,AF,AFG,38041757.0,Asia,7.134266
4,10/12/2020,10,12,2020,202,16,Afghanistan,AF,AFG,38041757.0,Asia,6.968658

* Tail of our data frame:

In [5]:
#We will check the tail of our dataset:

cd.tail()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
61895,25/03/2020,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
61896,24/03/2020,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
61897,23/03/2020,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
61898,22/03/2020,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
61899,21/03/2020,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN

* Summary statistics of our data frame:

In [7]:
# Let's review the statistical summary and datatype of our dataframe:

cd.describe()

,day,month,year,cases,deaths,popData2019,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
count,61900.000000,61900.000000,61900.000000,61900.000000,61900.000000,6.177700e+04,59021.000000
mean,15.628934,7.067157,2019.998918,1155.147237,26.055460,4.098770e+07,66.320586
std,8.841582,2.954776,0.032882,6779.224479,131.227055,1.531294e+08,162.329240
min,1.000000,1.000000,2019.000000,-8261.000000,-1918.000000,8.150000e+02,-147.419587
25%,8.000000,5.000000,2020.000000,0.000000,0.000000,1.293120e+06,0.757526
50%,15.000000,7.000000,2020.000000,15.000000,0.000000,7.169456e+06,6.724045
75%,23.000000,10.000000,2020.000000,273.000000,4.000000,2.851583e+07,52.572719
max,31.000000,12.000000,2020.000000,234633.000000,4928.000000,1.433784e+09,1900.836210

* Checking if there is any missing information and view the data type of our data frame:

In [8]:
cd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61900 entries, 0 to 61899
Data columns (total 12 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   dateRep                                                     61900 non-null  object
 1   day                                                         61900 non-null  int64
 2   month                                                       61900 non-null  int64
 3   year                                                        61900 non-null  int64
 4   cases                                                       61900 non-null  int64
 5   deaths                                                      61900 non-null  int64
 6   countriesAndTerritories                                     61900 non-null  object
 7   geoId                                                       61625 non-null  object
 8   countryterritoryCode                                        61777 non-null  object
 9   popData2019                                                 61777 non-null  float64
 10  continentExp                                                61900 non-null  object
 11  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000  59021 non-null  float64
dtypes: float64(2), int64(5), object(5)
memory usage: 5.7+ MB

* Checking NULLS in our data frame:

In [10]:
# apply .isnull.sum() on the dataframe to check the missing values
cd.isnull().sum()

dateRep                                                          0
day                                                              0
month                                                            0
year                                                             0
cases                                                            0
deaths                                                           0
countriesAndTerritories                                          0
geoId                                                          275
countryterritoryCode                                           123
popData2019                                                    123
continentExp                                                     0
Cumulative_number_for_14_days_of_COVID-19_cases_per_100000    2879
dtype: int64

We can see from the above code we can see is that there are nulls in 4 columns. Following is the summary:
1. 275 nulls are there in geoID.
2. 123 nulls in countryterritoryCode.
3. 123 nulls in popData2019 and 2879.

* Finding the shape (rows and columns) of our data frame:

In [9]:
cd.shape

(61900, 12)

So according to our results above, following is the information on the dataframe:

1. 61,900 rows and 12 columns.
2. The attributes of data types can be classified as 3 types i.e. 'Object, Float and Integer'. 

> The attributes with the following column names are nominal categorical data as the data type **'object'**:

       * dateRep, countriesAndTerritories, geoId, countryterritoryCode, and continentExp.  
       
> The attributes with the following column names are ordinal categorical data as the data type is **'integer'**:

       * day, month, and year.
       
> The attributes with the following column names are numeric data as the data type **'integer'**:

       * cases, and death.
       
> The attributes with the following column names are numeric data as the data type is **'float'**:

       * popData2019, and Cumulative_number_for_14_days_of_COVID-19_cases_per_100000.

### 3. Exploratory Data Analysis (EDA):

In [11]:
cd.continentExp.unique()

array(['Asia', 'Europe', 'Africa', 'America', 'Oceania', 'Other'],
      dtype=object)

In [20]:
cd.countriesAndTerritories[(cd['continentExp'] == 'Oceania')].unique()

array(['Australia', 'Fiji', 'French_Polynesia', 'Guam',
       'Marshall_Islands', 'New_Caledonia', 'New_Zealand',
       'Northern_Mariana_Islands', 'Papua_New_Guinea', 'Solomon_Islands',
       'Vanuatu', 'Wallis_and_Futuna'], dtype=object)

In [30]:
cd.countriesAndTerritories[(cd['popData2019'] <= 100000)].unique()

array(['Andorra', 'Anguilla', 'Antigua_and_Barbuda', 'Bermuda',
       'Bonaire, Saint Eustatius and Saba', 'British_Virgin_Islands',
       'Cayman_Islands', 'Dominica', 'Falkland_Islands_(Malvinas)',
       'Faroe_Islands', 'Gibraltar', 'Greenland', 'Guernsey', 'Holy_See',
       'Isle_of_Man', 'Liechtenstein', 'Marshall_Islands', 'Monaco',
       'Montserrat', 'Northern_Mariana_Islands', 'Saint_Kitts_and_Nevis',
       'San_Marino', 'Seychelles', 'Sint_Maarten',
       'Turks_and_Caicos_islands'], dtype=object)

In [22]:
cd.countriesAndTerritories[(cd['continentExp'] == 'Asia')].unique()

array(['Afghanistan', 'Bahrain', 'Bangladesh', 'Bhutan',
       'Brunei_Darussalam', 'Cambodia', 'China', 'India', 'Indonesia',
       'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan', 'Kazakhstan',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Malaysia', 'Maldives',
       'Mongolia', 'Myanmar', 'Nepal', 'Oman', 'Pakistan', 'Palestine',
       'Philippines', 'Qatar', 'Saudi_Arabia', 'Singapore', 'South_Korea',
       'Sri_Lanka', 'Syria', 'Taiwan', 'Tajikistan', 'Thailand',
       'Timor_Leste', 'United_Arab_Emirates', 'Uzbekistan', 'Vietnam',
       'Yemen'], dtype=object)